<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Hi, I'm Faith!</p>
                    <p>I am a Sr. Machine Learning Engineer with experience in software development, MLOps, and AI Research at Lockheed Martin Missiles & Fire Control and Space.</p>
                    <p>Interests include machine learning, artificial intelligence, natural language processing, and all things required to successfully bring a model from R&D into production. Outside of work, I enjoy hiking, weight lifting, and cooking Korean food!</p>
                    <p>I have undegraduate degrees in Mechanical Engineering + Computer Science from the University of Maryland 19', and a masters in Computer Science with a concentration in Data Science from the University of Illinois at Urbana Champaign 21'.</p>
                </div>
            </div>
            <div class="row text-center">
               <h3>Learn more about my:</h3>
            </div>            
            <div class="row text-center">
                <a href="#skills" class="page-scroll btn btn-xl">Skills</a>
                <a href="#projects" class="page-scroll btn btn-xl">Projects</a>
                <a href="#timeline" class="page-scroll btn btn-xl">Work Experience</a>
                <a class="page-scroll btn btn-xl" href="docs/resume.pdf" download>Resume</a>
            </div>
        </div>
    </section>