<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Work Experience Summary</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2019</h4>
                                    <h4 class="subheading">University of Maryland, College Park</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dual undergraduate degrees in Mechanical Engineering and Computer Science, with Engineering Honors</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2015</h4>
                                    <h4 class="subheading">US Army Research Lab: Sensors and Electronic Devices Directorate</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Internship in characterizing bioinspired Piezo-MEMS accelerometers</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer-Fall 2016</h4>
                                    <h4 class="subheading">Sikorsky</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Systems Engineering co-op in requirements verification and management for a new heavy lift helicopter program</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2017</h4>
                                    <h4 class="subheading">Bell Helicopter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Flight test instrumentation internship on the V-22 Osprey</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2018</h4>
                                    <h4 class="subheading">ProObject</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Internship in backend software engineering, utilizing MySQL, Django, Docker, Java Spring for Android App Development</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6/2019-4/2021</h4>
                                    <h4 class="subheading">Lockheed Martin Missiles and Fire Control</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">SWE in Lockheed's Engineering Leadership Program, working primarily on the Patriot Missile System</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Spring 2020-Summer 2022</h4>
                                    <h4 class="subheading">UIUC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Masters Degree in Computer Science with a concentration in Data Science</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4/2021-Present</h4>
                                    <h4 class="subheading">Lockheed Martin Space</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">AI/ML Research Engineer, working on implementing AI/ML solutions for Lockheed Space's digital transformation initiatives.</p>
                                    <p class="text-muted">Some projects include physics informed neural nets for faster than real time PDE approximation, anomaly detection using time series forecasting, statistical analysis, and NLP for telemetry data.</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>